/* Mouseover Sidebar Theme by Zyth_Dr
Huge thanks to:
nvhhr @Vencord Discord Server
Tnixc @Vencord Discord Server
Salternator, the * selector @Vencord Discord Server
Ôri
Most of the credit goes to them as they helped and heavily contributed to this version my theme. */

:root {
    --ClosingAnim: 300ms; /* animation duration when cursor leaves sidebar */
    --ExpandingAnim: 300ms; /* animation duration when cursor enters sidebar */
    --ClosedWidth: 90px; /* sidebar width minimized */
    --ExpandedWidth: 240px; /* sidebar width expanded */
    --AnimDelay: 100ms; /* delay before the expand/collapse animation begins */
    --ApplyWidth: 1130px; /* maximum width of Discord window until this theme disables itself */
}

@media (max-width: 1130px) {
    /* Channel Sidebar */
    .layers__960e4.layers__160d8 > div > div > div > div > div.sidebar_c48ade {
        position: absolute;
        height: 100%;
        width: var(--ClosedWidth)!important;
        z-index: 101;
        transition: var(--ClosingAnim);
        transition-delay: var(--AnimDelay);
    }
    .layers__960e4.layers__160d8 > div > div > div > div > div.sidebar_c48ade:hover {
        width: var(--ExpandedWidth)!important;
        transition: var(--ExpandingAnim);
        transition-delay: var(--AnimDelay);
    }

    .sidebar_c48ade:not(.hidden_c48ade) {
    width: 240px!important;
    }



    /* Chat */
    .chatContent_f75fb0 {
        position: relative;
        margin-left: var(--ClosedWidth);
    }
    .chatContent_f75fb0:not(:only-child) {
        margin-right: 60px;
    }

    /* Chat width 2025 fix */
    .content_f75fb0:has(.container_c8ffbb) {
        padding-right: 58px;
    }
    
    div.chat_f75fb0 > div.content_f75fb0 > main {
        margin-right: 0px;
    }
    
    /* Fullsize Threads Chat 2025 fix */
    .content_f75fb0:has(.hiddenMembers_c8ffbb)  {
        padding-right: 58px;
    }
    
    

    /* Call Screen */
    .wrapper_cb9592 {
        margin-left: var(--ClosedWidth);
    }


    /* Posts? */
    .container_f369db {
        margin-left: var(--ClosedWidth);
    }
    .container_f369db:not(:last-child) {
        margin-left: var(--ClosedWidth);
        margin-right: 60px;
    }


    /* Posts "thread" chat overlay padding */
    div.chatLayerWrapper__01ae2 > div:nth-child(2) > div > section  {
        margin-left: 0px;
    }

    /* Posts z-index to prevent post threads chat overlapping issue */
    div.card_f369db.headerRow_f369db.columnsSpan_f369db > div.mainCard_f369db.header_f369db {
        z-index: 100;
    }


    /* Friends, Nitro, Shop */
    .peopleColumn__133bf, .shop__6db1d, .applicationStore_f07d62 {
        position: relative;
        margin-left: var(--ClosedWidth); 
    } 


    /* Member List */
    .container_c8ffbb {
        position: absolute;
        z-index: 102;
        right: -180px;
        height: 100%;
        transition: var(--ClosingAnim);
        transition-delay: var(--AnimDelay);
    }
    .container_c8ffbb:hover {
        right: 0;
        transition: var(--ExpandingAnim);
        transition-delay: var(--AnimDelay);
    }


    /* Threads Member List */
    div.content_f75fb0 > .hiddenMembers_c8ffbb {
        position: absolute;
        right: -180px;
        height: 100%;
        transition: var(--ClosingAnim);
        transition-delay: var(--AnimDelay);
    }
    div.content_f75fb0 > .hiddenMembers_c8ffbb:hover {
        right: 0;
        transition: var(--ExpandingAnim);
        transition-delay: var(--AnimDelay);
    }


    /* Titlebar Offset (Top Header)*/
    .upperContainer_fc4f {
        padding-right: 90px;
    }
    .theme-dark .themed__9293f {
        position: relative;
        /* margin-left: var(--ClosedWidth); */
    }
    .children__9293f .toolbar__9293f {
        position: relative;
        /* margin-left: var(--ClosedWidth); */
    }


    /* Remove nicknames in titlebar */
    .nicknames__12efb , .akaBadge__27cd4, .divider__9293f {
        display: none;
    }


    /* Compact Search Bar */
    .searchBar__97492 {
        width: 80px;
    }
    .search__49676 {
        margin: 0px;
    }


    /* Hide unnecessary top bar icons */
    div > div.toolbar__9293f > a {               /* Help Button */
    display: none;
    }
    div.toolbar__9293f > div:nth-child(2) {      /* Notification settings (in reality just removes 2nd button, no matter what button that is, idk a better method to hide this :( )*/
    display: none;
    }
    

    /* Threads "overlay" chat  (mouseover slide-in threads chat)*/
    div > div.chatLayerWrapper__01ae2 {
        right: -190px;
        height: 100%;
        transition: var(--ClosingAnim);
        transition-delay: var(--AnimDelay);
    }
    div > div.chatLayerWrapper__01ae2:hover {
        right: 0px;
        height: 100%;
        transition: var(--ExpandingAnim);
        transition-delay: var(--AnimDelay);
    }

    /* Threads Overlay chat left padding */
    div.chatLayerWrapper__01ae2 > div:nth-child(2) > div.chat_ee72fa > section {
        margin-left: 2px;
    }

    /* Threads Overlay title padding */
    div.chatLayerWrapper__01ae2 > div:nth-child(2) > section > div {
        margin-left: -80px;
    }

    /* Threads right margin 2025 fix */
    div.chatLayerWrapper__01ae2 > div:nth-child(2) > div.chat_ee72fa > section {
        margin-right: 0px;
    }

    /* Channel Browser padding */
    .pageBody__41ed7 {
    padding-left: var(--ClosedWidth);
    }

    /* Remove Nitro gift & Sticker buttons from chat input area */
    div.buttons__74017 > button > div,                            /* Nitro Icon*/
    div.buttons__74017 > div:nth-child(2) > button > div,         /* GIF Icon */
    div.buttons__74017 > div:nth-child(3) > button > div {        /* Stickers Icon */  
    display: none;
    }


    /* Search sidebar panel thingy slideout + resize */
    div.chat_f75fb0 > div.content_f75fb0 > section {
        width: 70%;
        position: absolute;
        z-index: 102;
        right: -300px;
        height: 100%;
        transition: var(--ClosingAnim);
        transition-delay: var(--AnimDelay);
    }
    div.chat_f75fb0 > div.content_f75fb0 > section:hover {
        right: 0;
        transition: var(--ExpandingAnim);
        transition-delay: var(--AnimDelay);
    }

    /* Message request page padding */
    .list_f391e3 {
    margin-left: var(--ClosedWidth);
    }
    
    /* Change top bar button min width */
    .tabBar__133bf .item__133bf {
        min-width: 36px;
    }

    
    /* Add offset to top bar in Friends page etc */
    .children__9293f {
        margin-left: var(--ClosedWidth);
    }
    
    
    /* Adjust margins on top bar in friends page etc */
    .topPill_b3f026 .item_b3f026{
        margin: 0 1px;
    }

    /* Discover Page content fix */
    div.layers__960e4.layers__160d8 > div > div > div > div > section {
    margin-left: var(--ClosedWidth)!important;
    }

    /* Fullsize Threads Chat 2025 fix */
    .content_f75fb0:has(.hiddenMembers_c8ffbb)  {
        padding-right: 58px;
    }

    /* Onboarding or whatever welcome screen fix 2025 */
    div.chat_f75fb0.background__7449f > section > div > div.children__9293f.headerBarInner__7449f {
    margin-left: 0px;
    }
    
    div.layers__960e4.layers__160d8 > div > div > div > div > div.chat_f75fb0.background__7449f {
    margin-left: var(--ClosedWidth)!important;
    }

}

/* DMs list top icons spacing (Friends/Nitro/Shop) */
.avatarWithText__972a0 {
    max-height: 26px;
}

