/**
 * @name Mouseover Sidebar
 * @description A simple mini-theme to make the DMs/Channel sidebar much more narrow when not used.
 * @author Zyth_Dr
 * @version 1.0
**/

:root {
    --ClosingAnim: 500ms;       /*animation duration when cursor leaves sidebar*/
    --ExpandingAnim: 500ms;     /*animation duration when cursor enters sidebar*/
    --ClosedWidth: 67px;        /*sidebar width minimized*/
    --ExpandedWidth: 200px;     /*sidebar width expanded*/
    --AnimDelay: 75ms;          /*delay before the expand/collapse animation begins*/
}


.sidebar_ded4b5 {
    transition-timing-function: ease-out;
    width: var(--ClosedWidth);
    transition: var(--ClosingAnim);
    transition-delay: var(--AnimDelay);
}

.sidebar_ded4b5:hover {
    transition-timing-function: ease-out;
    width: var(--ExpandedWidth);
    transition: var(--ExpandingAnim);
    transition-delay: var(--AnimDelay);
}
